@font-face {
  font-family: 'FaB-Text';
  src: url('/fonts/fab-text.otf') format('opentype');
}

@font-face {
  font-family: 'FaB-Title';
  src: url('/fonts/fab-title.otf') format('opentype');
}

@font-face {
  font-family: 'FaB-Copyright';
  src: url('/fonts/fab-copyright.otf') format('opentype');
}

* {
  font-family: 'FaB-Title', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}