/* Common CSS */
@font-face {
  font-family: 'FaB-Title';
  src: url('/public/fonts/fab-title.otf') format('opentype');
}

* {
  font-family: 'Cinzel', serif;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.transition {
  transition: all 0.2s ease;
}

.hover:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.cursor:hover {
  cursor: pointer;
}

.fab-font {
  font-family: FaB-Title, serif;
}

/* Navbar */
.btn {
  position: relative;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0.15) 10%,
          rgba(255, 255, 255, 0.05) 20%,
          rgba(255, 255, 255, 0) 30%
  );
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.btn:hover::after {
  opacity: 1;
  border-bottom: 1px solid white;
}

.btn:hover {
  cursor: pointer;
}

.btn-selected {
  background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0.15) 10%,
          rgba(255, 255, 255, 0.05) 20%,
          rgba(255, 255, 255, 0) 30%
  );
  border-bottom: 1px solid white;
}

/* Card CSS */
.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.hover-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card:hover .hover-bar {
  transform: translateY(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.card-text img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.card-container {
  transition: all 0.2s ease;
}

/* Deck Container */
.deck-container {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.deck-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: 0 -70px;
  transform: scale(1.05)
}

/* Deck card banner (deck card list) */
.deck-card-container {
  position: relative;
  overflow: hidden;
}

.deck-card-hover-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  left: 50%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  border-radius: 16px;
  transform: translateX(-50%);
  transition: opacity 0.2s ease;
  justify-content: space-between;
  padding: 4px 7px;
}

.deck-card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  color: black;
}

.deck-card-quantity {
  position: absolute;
  top: 14px;
  right: 49px;
  font-weight: 600;
  background: rgba(0,0,0,1);
  color: white;
  border-radius: 8px;
  width: 24px;
  text-align: center;
}

.deck-card-pitch {
    position: absolute;
    top: 10px;
    right: 7px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-align: center;
    width: 32px;
}

.deck-card-container:hover .deck-card-hover-bar {
  opacity: 1;
}

.deck-leftbar {
  width: 350px;
  height: 100%;
  flex-direction: column;
}
