* {
  font-family: 'Cinzel', serif;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.hover-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card:hover .hover-bar {
  transform: translateY(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.btn {
  position: relative;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0.15) 10%,
          rgba(255, 255, 255, 0.05) 20%,
          rgba(255, 255, 255, 0) 30%
  );
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.btn:hover::after {
  opacity: 1;
  border-bottom: 1px solid white;
}

.btn:hover {
  cursor: pointer;
}

.btn-selected {
  background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.25) 0%,
          rgba(255, 255, 255, 0.15) 10%,
          rgba(255, 255, 255, 0.05) 20%,
          rgba(255, 255, 255, 0) 30%
  );
  border-bottom: 1px solid white;
}

.collection-card {
  transition: all 0.2s ease;
}

.collection-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card-text img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}